h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 120px 0;
}

/* =============body=============== */

header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  align-content: space-around;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.stud {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.stud::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}

.address-list-list {
  display: flex;
}

.adr-list-item:not(:last-child) {
  margin-right: 40px;
}

.address-list {
  margin-left: auto;
  font-style: normal;
}

.adress-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

/* main */

/* first section */

.first-section {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: url(../images/headerbackground.jpg);
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/headerbackground.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.page-title {
  display: flex;
  max-width: 496px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.main-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
:focus {
  background-color: #404bbf;
}

/* second section */

.second-section {
  display: flex;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.second-section-list {
  display: flex;
}

.second-section-list-item {
  width: calc((100% - 72px) / 4);
}

.second-section-list-item:not(:last-child) {
  margin-right: 24px;
}

.div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid rgb(142, 143, 153);
  border-radius: 4px;
  background-color: #f4f4fd;
}

.second-header {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.third-header {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* third section */

.second-header-ourteam {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.third-section {
  display: flex;
  background: #f4f4fd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.team {
  display: flex;
  gap: 24px;
}

.team-info {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
}

.team-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.social {
  fill: #f4f4fd;
}

.social-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.team-icon {
  width: 40px;
  height: 40px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

/* fourth-section */

/* .fourth-section {
} */
.portf-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portf-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portf-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portf-list-item:hover .box-text-overlay {
  transform: translateY(0%);
}

.prtf-cntr {
  margin-top: 0;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  /* margin-bottom: 8px; */
}

.second-header-ourportf {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.img-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  width: 360px;
  height: 300px;
  background: #ffffff;
}

.box-text-overlay {
  position: absolute;
  top: 0;
  bottom: 120px;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

/* footer */

.down-bar {
  padding: 100px 0;
  background-color: #2e2f42;
}

.ftr-box {
  display: flex;
  align-items: baseline;
}

.ftr-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ftr-studio {
  color: #f4f4fd;
}

.ftr-text {
  display: flex;
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ftr-one {
  margin-right: 120px;
}

.ftr-two {
  align-items: baseline;
  margin-right: 80px;
}

.ftr-two-text {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-two-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-two-item {
  width: 40px;
  height: 40px;
}

.footer-two-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-two-link:hover,
.footer-two-link:focus {
  background-color: #31d0aa;
}

.ftr-third {
  display: flex;
  flex-direction: column;
}

.ftr-form {
  display: flex;
  gap: 24px;
}

.ftr-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-form-btn:hover,
.ftr-form-btn:focus {
  background-color: #404bbf;
}

.form-label {
  display: flex;
}

.form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.form-input::placeholder {
  color: #ffffff;
}

.icon-footer-third {
  margin-left: 16px;
  fill: #ffffff;
}

/* modal */

.footer-third {
  display: flex;
  flex-direction: column;
}
.footer-third-text {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

.form-label {
  display: flex;
}
.form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.form-input::placeholder {
  color: #ffffff;
}
.icon-footer-third {
  margin-left: 16px;
  fill: #ffffff;
}
/* backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.modal-icon-close-btn {
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0 0 24px 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:active,
.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-window-text {
  margin-bottom: 16px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.review-form-wrapper {
  margin-bottom: 8px;
}
.review-form-wrapper-comment {
  margin-bottom: 16px;
}
.review-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border: 1px solid #4d5ae5;
  outline: transparent;
}

.review-form-input:focus + .review-form-icon {
  fill: #4d5ae5;
}

.review-form-name-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.review-form-input-wrapper {
  position: relative;
}
.review-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.review-form-taxtarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-taxtarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-taxtarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-chackbox-wrapper {
  margin-bottom: 24px;
}

.review-form-chackbox-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.review-form-chackbox-label-link {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.review-form-own-chackbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-privacy-chackbox:checked
  + .review-form-chackbox-label
  .review-form-own-chackbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.review-form-privacy-chackbox:focus
  + .review-form-chackbox-label
  .review-form-own-chackbox {
  outline: 2px solid rgba(0, 0, 225, 0.1);
}
.submit-btn {
  display: block;
  flex-direction: row;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}